<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/batch
        http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="db-config.xml"/>

    <bean id="productManager" class="org.kiwi.springbatch.ProductManager">
        <constructor-arg ref="productDAO"/>
    </bean>

    <bean id="productDAO" class="org.kiwi.springbatch.ProductDAOImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven/>
</beans>